@media (max-width: 767px) {
  /* Phone-specific styles */
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Tablet-specific styles (optional) */
}

@media (min-width: 992px) {
    .articles-heading{
        display: flex;
        justify-content: center;
    }

    #articles-align{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #articles-main-heading{
        color: #183B56;
        font-size: 3rem;
        width: calc(392/1440  * 100vw);
    }

    #articles-main-heading-desc{
        color: #5A7184;
        font-size: 1.25rem;
        width:calc(580/1440  * 100vw);
    }

    #articles-container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 2rem 2rem;
    } 
    
    .articles-sec{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding:10px;
    }

    .company-article-logo{
        width: 100px;
        height: 100px;
    }

    .article-info{
        font-family: 'HK Grotesk', 'Open Sans', sans-serif;
        color: #183B56;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.2px;
        font-weight: 700;
        margin:0;
    }

    .article-author{
        display: flex;
        /* justify-content: cente; */
        align-items: center;
        margin:0;
    }

    .author-name{
        color: #3EB683;
        font-size: 16px;
        margin-right: 10px;
    }

    .episode-list{
        font-family:'Open Sans', sans-serif;
        color: #5A7184;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 10px;
    }
    
}
